/* General stuff */
body {
    background-image: url("../images/pw_maze_white.png");
    background-repeat: repeat;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1, h2 {
    color: #4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    color: #777777;
    line-height: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
}


/* Nav area things*/
#top {
    background: #ffffff;
    border-bottom: 2px solid #d8d8d8;
}

#myName {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center; 
    float: left;
    width: 25%;
    padding: 20px 20px;
    
}

#menu {
    float: right;
    padding: 60px 0px 20px 0px;
    font-size: .8em;
}

#menu a {
    color: #777777;
    text-decoration: none;
    border-right: 2px solid #d8d8d8;
    margin: 0 10px;
    padding-right: 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a.last_link {
    border-right: 0;
    padding-right: 10px;
}


/* main area things */
#main_area {
    padding: 0px 0px 20px 0px;
}

.main {
    background-color: #ffffff;
    box-shadow: 0 4px  8px  6px rgba(0, 0, 0, 0.12);
    float: left;
    width: 960px;
    margin: 40px 0;
    padding: 40px 50px 30px 50px;
}

.main h1 {
    margin-bottom: 30px;
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 20px;
}

.main .photo img {
    float: left;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    margin-top: 25px;
    margin-right:25px;
}

#footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

#copyright {
    color: #ffffff;
    text-align: center;
}

/* Contact page stuff */

.main label {
    font-size: 1em;
    display: block;
    margin-bottom: 10px;
    color: #777777;
}

.main input {
    font-size: 1em;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 8px 4px 8px 12px;
}

.main textarea {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1em;
    display: block;
    max-width: 100%;
    max-height: 250px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 15px;
}

.main #submit {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    display: block;
    width: 15%;
    margin-top: 40px;
    padding: 10px 0;
}

/* Potfolio stuff */

.main .portfolio {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.main .portfolio img {
    border: 1px solid #d8d8d8;
    clear: left;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 218px;
    margin: 25px 20px 0 20px;
}

.main .portfolio figcaption {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    float: left;
    position: absolute;
    max-width: 100%;
    max-height: 20%;
    width: 200px;
    bottom: 20px;
    margin-left: 20px;
    padding: 10px 10px;
}
